.pricing {
  background-color: #f2f4f6;
  margin-top: 80px;
}
.pricing h1 {
  font-size: 48px;
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  text-align: center;
  line-height: 48px;
  color: rgb(25, 28, 30);
  padding-top: 9rem;
  position: relative;
  display: block;
}

h1::after {
  content: "";
  position: absolute;

  width: 50px;
  height: 4px;

  background-color: #c7d4ea;
  border-radius: 10px;

  left: 50%;
  transform: translateX(-50%);
  bottom: -10px;
}

p {
  text-align: center;
}
